body{
  margin: 0px;
  min-height: 100vh;
}

.App{
  background-color: #ffffff;
  min-height: 90vh;
  font-size: calc(10px + 2vmin);

  /*background-image: url("./assets/4528659-cat-girl-cleavage-short-hair-rem-re-zero-rezero-kara-hajimeru-isekai-seikatsu-nekomimi-aqua-eyes-aqua-hair-blushing-headdress-maid-simple-background.jpg");*/
  background-image: url("./assets/waifubg.jpg_large");
  background-size: cover;
  background-position: center;
  
  padding: 0px 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App .heading h3{
  margin: 0px;
  font-weight: 400;
}

.App .content, .App .heading{
  max-width: 691px;
}

.App .content p{
  font-weight: 300;
}

.App .CTA button{
  
  background-color: #ffe1e1;
  color: #c72742;
  border: 2px solid #c72742;

  font-size: 23px;
  border-radius: 110px;
  padding: 6px 34px;
  max-width: 275px;
}

.App .CTA button:hover{
  background-color: #c72742;
  color: #ffe1e1;
  border: 2px solid #c72742;
}

.Products{
  background-color: white;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Products li{
  color: black;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px grey;
  border-radius: 10px;
}

.productUl li img{
  height: 300px;
  width: auto;
}

.productUl li button{
  background-color: #ffe1e1;
  color: #c72742;
  border: 3px solid #c72742;
  border-radius: 100px;
  padding: 3px 6px;

}

.productUl li button:hover{
  background-color: #c72742;
  color: #ffe1e1;
  border: 3px solid #c72742;
}

.Nav{
  display: flex;
  justify-content:space-between;
  align-items: center;
  min-height: 10vh;
  color: white;
  background-color: #9c0000;

  padding: 0px 50px;

  box-shadow: 0px 0px 15px 0px #4c4c4c;
  position: relative;
}

.Nav h1{
  color: white;
}

ul{
  display: flex;
  justify-content: space-around;
  gap: 50px;
  list-style-type: none;
  padding-left: 0px;
}

.productUl{
  margin:0px;
  padding:50px 100px ;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  gap: 50px;
  list-style-type: none ;
}

li{
  color: white;
  text-align: center;
  border: 2px solid white;
  border-radius: 20px;
  padding: 0px 10px;
}

li:hover{
  color: #ff647e;
  background-color: white;
}

.Shop{
  background-color: white;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: black;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.shopUl{
  margin:0px;
  padding:0px ;
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style-type: none ;
  margin-bottom: 20px;
}

.shopUl li{
  color:black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  box-shadow: 0px 0px 7px 0px grey;
  border-radius: 10px;
  width: 400px;
  
}

.shopUl li .description p{
  font-size: 15px;
  margin: 0px ;
}

.shopUl li .description button{
  background-color: #ffe1e1;
  color: #c72742;
  border: 2px solid #c72742;
  border-radius: 100px;
}

.shopUl li .description button:hover{
  background-color: #c72742;
  color: #ffe1e1;
  border: 2px solid #c72742;
}

.shopUl li .quantity{
  border: 1px solid black;
}

.shopUl li .quantity p{
  font-size: 20px;
}

.shopUl li .quantity button{
  background-color: white;
  border: 0px ;
}

.shopUl li img{
  height: auto;
  width: 100px;
}

.quantity{
  display: flex;
  justify-content: space-evenly;
}

.quantity p{
  margin: 0px;
}

a{
  text-decoration: none;
}

.finalBill{
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 7px 0px grey;
}

.shipping{
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}

.total{
  padding: 5px 0px 5px 0px;
}

.subTotal, .shipping{
  font-size: 15px;
}

.subTotal h3, .shipping h3, .subTotal p, .shipping p{
  font-weight: 300;
}

.subTotal, .shipping, .total{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
}

.finalBill h3, .finalBill p{
  margin: 0px;
}

.finalBill button{
  background-color: #FF6138;
  color: white;
  border: 2px solid #FF6138;
  border-radius: 100px;
  font-weight: bold;
}

.finalBill button:hover{
  background-color: #ff3300;
}

.signIn{
  display: flex;
  align-items: center;
  gap: 10px;

  background: white;
  border: 0px;
  border-radius: 100px;
  padding: 5px 15px;
}

.signIn:hover{
  background-color: whitesmoke;
}

.signIn p{
  margin: 0px;
}

.user{
  display: flex;
  align-items: center;
  gap: 5px;
}

.user img{
  width: 50px;
  border-radius: 100px;
  padding: 2px;
  border: 3px solid white;
}

.user button{
  background: white;
  border: 0px;
  border-radius: 40px;
}

.signOut{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.signOut p{
  margin: 0px;
  color: white;
  font-weight: 500;
}

.AppContent{
  text-align: center;
  background: white;
  padding: 10px;
  border-radius: 23px;
  border: 5px solid #ff647e;

  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow: 0px 0px 20px 0px #4c4c4c;
}

@media (max-width: 1200px) {
  .App {
    align-items: center;
 
  }  

}

@media (max-width: 800px) {
  .Nav{
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #ff647e;
  }

  .Nav > :first-child{
    text-align: center;
    background: #9c0000;
  }

  .Nav > :first-child > h1{
    transform: scale(1.2);
  }

  .navUl{
    grid-row:2/3 ;
    grid-column: 1/3;
  }

  .Nav > :last-child{
    display: flex;
    background-color: #9c0000;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
  }

  .Nav button.signIn{
    background-color: white;
    margin-right: 10px;
  }  

  .user{
    transform: scale(0.8);
  }

  .user img{
    border: 2px solid white;
  }

  .productUl{
    grid-template-columns: 1fr;
  }

}

@media (max-width: 500px){

  .shopUl li, .subTotal, .total, .shipping{
    width: 300px;
  }

  .AppContent{
    box-shadow: 0px 0px 10px 0px #4c4c4c;
  }

  .App .CTA button{
    font-size: 17px;
  }

  /*.Shop{
    transform: scaleX(0.8) scaleY(0.8) translateY(-100px);

  }*/

  /*.finalBill, .shopUl{
    transform: scaleX(0.8) scaleY(0.8) translateY(-85px);
  }

  .finalBill{
    transform: scaleX(0.8) scaleY(0.8) translateY(-105px);
    
  }*/
}